*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body{
    background-color: transparent !important;
    padding: 10px;
}

#input{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}

#container{
    background-color: transparent !important;
}

#input button{
    background-color: gray !important;
    padding: 3px;
}
#input button:hover{
    background-color: rgb(169, 171, 170) !important;
}

#cardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    border: 1px solid #ccc !important;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    overflow-y: scroll;
    background-color: transparent !important;
}

.card:hover{
    scale: 1.2;
    z-index: 11;
    background-color: black !important;
    border: 3px solid darkblue !important;
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}
